.btn-wiggly {
    position: relative;
    width: 215px;
    height: 45px;
    color: black;
    background-color: black;
    font-size: large;
    border-radius: 8px;
    background-color: white;
    border: none;
    overflow: hidden;
}


.btn-wiggly:hover {
    background-color: transparent;
}

.arrow-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.label {
    color: black;
    font-size: large;
    transition: all 0.3s ease;
}

.arrow-btn .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.35s ease;
}

.arrow-btn:hover .label {
    opacity: 0;
    transform: translateX(-10px);
}

.arrow-btn:hover .circle {
    opacity: 1;
    background-color: white;
    background-size: 300% 300%;
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 415px) {
    .btn-wiggly {
        width: 210px;
        height: 35px;
    }
    
    .label {
        font-size: small;
    }
}

@media (min-width: 416px) and (max-width: 767px) {
    .btn-wiggly {
        width: 220px;
        height: 35px;
    }
    
    .label {
        font-size: small;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .btn-wiggly {
        width: 290px;
        height: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .btn-wiggly {
        width: 200px;
        height: 40px;
    }
    
    .arrow-btn .circle {
        width: 30px;
        height: 30px;
    }
    
    .label {
        font-size: small;
    }
}

@media (min-width: 2230px) {
    .btn-wiggly {
        width: 360px;
        height: 75px;
    }
    
    .arrow-btn .circle {
        width: 52px;
        height: 52px;
    }
    .label {
        font-size: x-large;
    }
}