.btn-wiggly {
    position: relative;
    width: 215px;
    height: 45px;
    color: black;
    background-color: black;
    font-size: large;
    border-radius: 8px;
    background-color: white;
    border: none;
    overflow: hidden;
}


.btn-wiggly:hover {
    background-color: transparent;
}

.arrow-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.label {
    color: black;
    font-size: large;
    transition: all 0.3s ease;
}

.arrow-btn .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.35s ease;
}

.arrow-btn:hover .label {
    opacity: 0;
    transform: translateX(-10px);
}

.arrow-btn:hover .circle {
    opacity: 1;
    background-color: white;
    background-size: 300% 300%;
    transform: translate(-50%, -50%) scale(1);
}

@media (min-width: 2480px) {
    .btn-wiggly {
        width: 420px;
        height: 70px;
    }
    
    .arrow-btn .circle {
        width: 48px;
        height: 48px;
    }
    .label {
        font-size: x-large;
    }
}