.carousel {
    width: 70%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}

.track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    overflow-x: hidden ;
}

.group {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
}

.card {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.2 ease, box-shadow 0.2 ease;
}

.card img {
    width: 45px;
    border-radius: 14px;
}

.card-title {
    color: white;
    margin-top: 12px;
    font-size: 1rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}