.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}


.track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    overflow-x: hidden ;
}

.group {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
}

.card {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.2 ease, box-shadow 0.2 ease;
}

.card img {
    width: 45px;
    border-radius: 14px;
}

.card-title {
    color: white;
    margin-top: 12px;
    font-size: 1rem;
}

@media (max-width: 429px) {
    .card {
        min-width: 90px;
    }

    .card img {
        width: 40px;
        border-radius: 4px;
    }

    .card-title {
        font-size: 12px;
    }
}

@media (min-width: 430px) and (max-width: 767px) {
    .card {
        min-width: 90px;
    }

    .card img {
        width: 40px;
        border-radius: 4px;
    }

    .card-title {
        font-size: smaller;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card {
        min-width: 130px;
    }

    .card img {
        width: 53px;
        border-radius: 4px;
    }

    .card-title {
        font-size: medium;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .card {
        min-width: 110px;
    }

    .card img {
        width: 38px;
        border-radius: 4px;
    }

    .card-title {
        font-size: small;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .card {
        min-width: 120px;
    }

    .card img {
        width: 45px;
        border-radius: 4px;
    }

    .card-title {
        font-size: small;
    }
}

@media (min-width: 1920px) and (max-width: 2559px) {
    .card img {
        width: 60px;
    }

    .card {
        min-width: 170px;
    }

    .card-title {
        font-size: large;
    }
}

@media (min-width: 2560px) {
    .card img {
        width: 90px;
    }

    .card {
        min-width: 200px;
    }

    .card-title {
        font-size: x-large;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}