.carousel {
    width: 70%;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}


.track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    overflow-x: hidden ;
}

.group {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
}

.card {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 0.2 ease, box-shadow 0.2 ease;
}

.card img {
    width: 45px;
    border-radius: 14px;
}

.card-title {
    color: white;
    margin-top: 12px;
    font-size: 1rem;
}

@media (min-width: 416px) and (max-width: 1000px) {
    .carousel {
        width: 100%;
    }

    .card {
        min-width: 80px;
    }

    .card img {
        width: 40px;
        border-radius: 4px;
    }

    .card-title {
        font-size: 1rem;
    }
}

@media (min-width: 2480px) {
    .carousel {
        width: 100%;
    }

    .card img {
        width: 60px;
    }

    .card {
        min-width: 160px;
    }

    .card-title {
        font-size: 1.2rem;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}