@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600&family=JetBrains+Mono:wght@400;600&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Inter", system-ui, sans-serif;
    --font-heading: "Space Grotesk", system-ui, sans-serif;
    --font-mono: "JetBrains Mono", monospace;
}

.animated-gradient {
    background: linear-gradient(
        90deg,
        #a2ff00,
        #fffb00,
        #00a416,
        #b09f00
        );
        background-size: 300% 300%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientMove 4s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes noiseMove {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(80px, 80px); }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow-x: hidden;
    position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255,255,255,0.03) 0px,
      rgba(255,255,255,0.03) 1px,
      transparent 1px,
      transparent 2px
    );
  opacity: 0.15;
  z-index: -2;
}
body::after {
    content: "";
    position: fixed;
    width: 430px;
    height: 430px;
    top: -180px;
    left: -180px;
    z-index: -1;
    pointer-events: none;
    
    background: #6aff00;
    opacity: 0.13;
    filter: blur(200px);
}